<p class="alert alert-danger" role="alert" *ngIf="error">{{ error }}</p>
<form class="form" (ngSubmit)="createUser()" #createAttendeeForm="ngForm">
  <div class="row create-attendee-top-row">
    <div class="col xs-1 col-sm-11 p-l-0">
      <button type="button" class="btn btn-secondary pull-xs-left m-r-1"
              (click)="emitCancelEvent()">
        <i class="fa fa-times"></i>
      </button>
      <h5 class="hidden-md-down title-lg">Lista osób: {{ title }}</h5>
    </div>
    <div class="col-xs-1 pull-xs-right p-r-0">
      <button type="submit" class="btn btn-primary pull-xs-right"
              [disabled]="!createAttendeeForm.form.valid">
        <i class="fa fa-floppy-o"></i> Zapisz
      </button>
    </div>
  </div>
  <div class="row hidden-lg-up title-sm">
    <i class="fa fa-users" aria-hidden="true"></i>
    {{ title }}
  </div>
  <div class="row">
    <div class="form-group col-sm-3 col-xs-12">
      <input type="text" class="form-control" placeholder="Imię..." required
             [(ngModel)]="model.name" name="name">
    </div>
    <div class="form-group col-sm-3 col-xs-12">
      <input type="text" class="form-control" placeholder="Nazwisko..." required
             [(ngModel)]="model.surname" name="surname">
    </div>
    <div class="form-group col-sm-3 col-xs-12">
      <input #emailInput type="email" class="form-control" placeholder="Email..." required
             [(ngModel)]="model.email" name="email">
    </div>
    <div class="form-group col-sm-3 col-xs-12">
      <input type="tel" class="form-control" placeholder="Telefon..." required pattern="[0-9]{9}"
             [(ngModel)]="model.phoneNumber" name="phoneNumber">
    </div>
  </div>
</form>