@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

:host {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;

  @media (min-width: breakpoint-min(lg)) {
    top: 0;
    bottom: auto;
  }
}

.btn {
  background-color: #ffd966;
  width: 4em;
  height: 4em;
  border-radius: 2em;
  padding: 0.5em 0.25em 0.25em 0.25em;
  font-size: 0.625rem;
}
