@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

:host {
  display: block;
}

course-times labelled-form-field form-field label {
  @media (min-width: breakpoint-min(sm)) {
    text-align: right;
  }
  height: 1.8rem;
}
