<div class="col-xs-9">
  <h4>Terminy</h4>
</div>
<div class="col-xs-3">
  <button type="button" class="btn btn-sm btn-block btn-secondary" disabled>
    <i class="fa fa-plus" aria-hidden="true"></i> Dodaj termin
  </button>
</div>

<p class="alert alert-danger" role="alert" *ngIf="error">{{ error }}</p>
<form-field [errors]="errors.startTime" class="col-xs-12 row moved-errors">
  <label for="startTime" class="col-xs-3 col-xl-2 col-form-label test">Rozpoczęcie</label>
  <div class="col-xs-8 col-xl-9 p-x-0">
    <input type="text" class="form-control form-control-sm" [class.form-control-danger]="errors.startTime"
           [(ngModel)]="model.startTime" name="startTime" id="startTime" required
           placeholder="Podaj datę rozpoczęcia ...">
  </div>
  <div class="col-xs-1">
    <i class="fa fa-lg fa-calendar date-picker-icon test" aria-hidden="true"></i>
  </div>
</form-field>
<form-field [errors]="errors.endTime" class="col-xs-12 row moved-errors">
  <label for="endTime" class="col-xs-3 col-xl-2 col-form-label test">Zakończenie</label>
  <div class="col-xs-8 col-xl-9 p-x-0">
    <input type="text" class="form-control form-control-sm" [class.form-control-danger]="errors.endTime"
           [(ngModel)]="model.endTime" name="endTime" id="endTime" required
           placeholder="Podaj datę zakończenia ...">
  </div>
  <div class="col-xs-1">
    <i class="fa fa-lg fa-calendar date-picker-icon test" aria-hidden="true"></i>
  </div>
</form-field>
<form-field [errors]="errors.repeatWeeksCount" class="col-xs-12 row moved-errors">
  <label for="repeatWeeksCount" class="col-xs-3 col-xl-2 col-form-label test">Powtarzaj co</label>
  <div class="col-xs-2 p-x-0">
    <input type="number" class="form-control form-control-sm" [class.form-control-danger]="errors.repeatWeeksCount"
           [(ngModel)]="model.repeatWeeksCount" name="repeatWeeksCount" id="repeatWeeksCount" required>
  </div>
  <p class="test">tydzień</p>
</form-field>
