<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="collapse navbar-toggleable-xs" id="navbar-header">
    <a class="navbar-brand" [routerLink]="['./']">DNCR</a>
    <ul class="nav navbar-nav" *ngIf="isLoggedIn() | async">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['./reception']">Recepcja</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['./detail']">Detail</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['./about']">About</a>
      </li>
    </ul>
    <button type="button" class="btn btn-primary pull-xs-right" *ngIf="isLoggedIn() | async" (click)="logout()">
      Wyloguj się
    </button>
  </div>
</nav>
<main class="container-fluid">
  <router-outlet></router-outlet>
</main>
