@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

:host {
  display: block;
  height: 100%;
}

:host /deep/ simple-notifications .simple-notification-wrapper {
  z-index: 1100;

  &.top {
    top: 4rem;

    @media (min-width: breakpoint-min(md)) {
      width: 400px;
    }
  }
}

main {
  display: block;
  height: calc(100% - 1rem);
  padding-top: 1rem;
}

nav.navbar ~ main {
  padding-top: 4rem;
}
