/vendor
.env
.idea/workspace.xml
.idea/tasks.xml
!.idea/codeStyleSettings.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources
.idea/dataSources.local.xml
.idea/dictionaries/*
!.idea/dictionaries/polish.dic
docker-compose.yml
