<course-title *ngIf="course" [model]="course" [editable]="true" [errors]="errors.name" (save)="onSave($event)"
              (close)="onClose()"></course-title>
<nav class="nav nav-inline" *ngIf="course">
  <a class="nav-link" routerLinkActive="active" [routerLink]="['/manager/courses', course.id]"
     [routerLinkActiveOptions]="{ exact: true }">Szczegóły</a>
  <a class="nav-link" routerLinkActive="active" [routerLink]="['actions']">Akcje</a>
  <a class="nav-link" routerLinkActive="active" [routerLink]="['attendees']">Kursanci</a>
</nav>
<hr />
<router-outlet></router-outlet>
