@import '~bootstrap/scss/_variables';

:host {
  display: block;
}

h1 {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;

  span {
    flex-grow: 1;
    padding: 0 1rem;
  }

  i {
    padding-top: 3px;
  }
}

.nav a.active {
  color: $gray-light;
}
