@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_clearfix';
@import '~bootstrap/scss/mixins/_breakpoints';
@import '~bootstrap/scss/mixins/_grid';
@import '~bootstrap/scss/mixins/_grid-framework';
@import '~bootstrap/scss/grid';

:host {
  padding: 0;
  display: block;
}

.form-group {
  padding: 0.1rem;
  margin-bottom: 0;
}

ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1rem;
}
