:host {
  display: block;
  position: relative;
  height: 100%;

  .attendees {
    padding: .5rem .25rem;
  }

  /deep/ .payment-confirmation .modal-dialog {
    max-width: 26rem;
  }
}

i {
  font-size: 2rem;
  cursor: help;
}
