@import '~bootstrap/scss/_variables';

:host {
  display: block;

  /deep/ form-field {
    ul {
      display: inline;
    }
  }
}

.btn {
  &.cancel {
    margin-right: 1rem;

    i {
      width: 16px;
    }
  }
}

h1 {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;

  &.errors {
    align-items: flex-start;
  }

  > span, > form-field {
    flex-grow: 1;
  }
  > form-field {
    padding: 0 0 0 .5rem;
  }
  > span {
    padding: .25rem 1rem;
  }
}

.nav a.active {
  color: $gray-light;
}
