@import '~bootstrap/scss/_variables';

:host {
  display: block;
}

.cancel-btn {
  margin-right: 0.5rem;
}

h1 {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;

  &.errors {
    align-items: flex-start;
  }

  span {
    flex-grow: 1;
    padding: 8px 0 2.188px 0.5rem;
    &.editing {
      padding: 0 0 0 0.5rem;
    }
  }
}

.nav a.active {
  color: $gray-light;
}
