<h1 [class.errors]="errors.name">
  <button type="button" class="cancel-btn btn btn-sm btn-secondary" (click)="onCancel()">
    <i class="fa fa-times"></i>
  </button>
  <i class="fa fa-info-circle fa-lg"></i>
  <span *ngIf="isEditing()" class="editing">
    <form-field [errors]="errors.name">
      <input type="text" class="form-control" placeholder="Podaj nazwę kursu ..."
             [(ngModel)]="model.name" name="name" id="name" required>
    </form-field>
  </span>
  <span *ngIf="!isEditing()">
    {{model.name}}
    <button *ngIf="isEditable()" type="button" class="btn btn-sm btn-secondary"
            (click)="changeState(stateRef.EditingUndoable)">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>
  </span>
  <button *ngIf="isEditable()" type="button" (click)="changeState(stateRef.PendingSave)" class="btn btn-primary">
    <i class="fa fa-floppy-o" aria-hidden="true"></i> Zapisz
  </button>
</h1>
