@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import '~bootstrap/scss/mixins/_clearfix';

:host {
  display: block;
  position: relative;
  padding: 0.2em;
}

div {
  display: flex;
  align-items: center;
}

.btn.save {
    margin-left: auto;
}

.title {
  h5 {
    display: inline-flex;
    align-items: center;
    margin: 0 0 0 1rem;
    padding: 7px 0 0;

    span {
      margin-left: 1rem;
    }
  }
}
