<button type="button" class="cancel btn btn-secondary" (click)="onCancel.emit(true)">
  <i class="fa fa-times" *ngIf="isEditing"></i>
  <span class="sr-only" *ngIf="isEditing">Anuluj</span>
  <i class="fa fa-arrow-left" *ngIf="!isEditing"></i>
  <span class="sr-only" *ngIf="!isEditing">Zamknij</span>
</button>
<div class="title" [class.editing]="isEditing">
  <i class="fa fa-users fa-2x" aria-hidden="true"></i>
  <h5>
    <span class="hidden-md-down">Lista osób: </span> {{ title }}
  </h5>
</div>
<button type="submit" class="save btn btn-primary" *ngIf="isEditing">
  <i class="fa fa-floppy-o"></i> Zapisz
</button>
