@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import '~bootstrap/scss/mixins/_clearfix';

:host {
  display: flex;
  position: relative;
  padding: 0.2em;
}

.btn {
  padding: 0.3rem 0.62rem 0.35rem 0.72rem;

  &.cancel {
    margin-right: 1rem;
  }
}

.title {
  flex-grow: 1;

  &.editing {
    i {
      display: none;

      @media (min-width: breakpoint-min(lg)) {
        display: inline-block;
      }
    }
  }

  i {
    display: none;
    vertical-align: middle;

    @media (min-width: breakpoint-min(lg)) {
      display: inline-block;
      margin-right: 1rem;
    }
  }

  h5 {
    display: inline-block;
    vertical-align: sub;
    margin: 0;
    padding-top: 5px;
  }
}
