@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import '~bootstrap/scss/mixins/_clearfix';

:host {
  display: block;
  position: relative;
  padding: 0.2em;
}

div {
  display: flex;
  align-items: center;
}

.btn.save {
  margin-left: auto;
}

i.fa-users {
  margin-left: 0.5rem;
}

span {
  margin-right: 0.5rem;
}

h5 {
  display: inline-flex;
  align-items: center;
  margin: 0 0 0 0.5rem;
  padding: 7px 0 0;
}
