@import '~bootstrap/scss/_variables';
@import "~bootstrap/scss/mixins/_breakpoints";

.login-page {
  height: 100vh;

  @media (min-width: breakpoint-min(sm)) {
    display: flex;
    height: calc(100vh - 5rem);
    align-items: center;

    > * {
      flex-grow: 1;
    }
  }

  form {
    @media (min-width: breakpoint-min(md)) {
      width: 65%;
    }
  }
}
