<attendee-details-title [title]="course.name"></attendee-details-title>
<attendee-action-button [attendee]="attendee" [course]="course"
                        (onPayment)="confirmPayment($event)"></attendee-action-button>
<div>
  <div class="profile-photo">
    <i class="fa fa-user fa-3x" aria-hidden="true"></i>
  </div>
  <div class="details">
    <h5>
      {{attendee.name}} {{attendee.surname}}
    </h5>
    <div>
      <span class="hidden-sm-down data-label">Telefon:</span>
      {{attendee.phoneNumber}}
    </div>
    <div>
      <span class="hidden-sm-down data-label">Adres e-mail:</span>
      {{attendee.email}}
    </div>
  </div>
</div>
<hr>
<img class="img-fluid" src="assets/img/attendee-details/attendee-history-tmp.png"
     alt="Historia kursanta w kotekście kursu">
<template ngbModalContainer></template>
