<attendee-details-title [title]="course.name"></attendee-details-title>
<div class="att-det-container">
  <div>
    <i class="profile-photo fa fa-user fa-3x" aria-hidden="true"></i>
  </div>
  <div>
    <h5>
      {{attendee.name}} {{attendee.surname}}
    </h5>
    <div>
      <span class="hidden-sm-down"><b>Telefon: </b></span>
      {{attendee.phoneNumber}}
    </div>
    <div>
      <span class="hidden-sm-down"><b>Adres e-mail: </b></span>
      {{attendee.email}}
    </div>
  </div>
</div>
<hr>
<img class="img-fluid" src="assets/img/attendee-details/attendee-history-tmp.png"
     alt="Historia kursanta w kotekście kursu">
