@import "~bootstrap/scss/_variables";

:host {
  display: block;

  > div {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 1rem;
  }

  > img {
    width: 100%;
  }

  /deep/ .add-payment .modal-dialog {
    max-width: 26rem;
  }
}

.profile-photo i {
  margin-right: 1rem;
  padding: .2em .25em .15em;
  border: solid .08em $body-color;
  border-radius: .1em;
}
.details {
  flex-grow: 1;

  span.data-label {
    font-weight: bold;
    padding-right: .25rem;
  }
}
