<div class="row" style="height: 2rem;">
  <a *ngIf=!showAdditionalPane [routerLink]="['course-details']" routerLinkActive="active">Pokaż szczegóły kursu.</a>
  <a *ngIf=showAdditionalPane [routerLink]="['/reception']" routerLinkActive="active">Schowaj szczegóły kursu.</a>
</div>
<div class="row" style="height: calc(100% - 2rem - 1px)">
  <div class="col-xs-12" [class.col-sm-6]="showAdditionalPane" style="height: 100%">
    <calendar></calendar>
  </div>
  <div [class.hidden-xs-up]="!showAdditionalPane" class="col-xs-12 col-sm-6" style="height: 100%">
    <router-outlet></router-outlet>
  </div>
</div>
