<div class="row">
  <a *ngIf=!showAdditionalPane [routerLink]="['course-details']" routerLinkActive="active">Pokaż szczegóły kursu.</a>
  <a *ngIf=showAdditionalPane [routerLink]="['/reception']" routerLinkActive="active">Schowaj szczegóły kursu.</a>
</div>
<div class="row">
  <div class="col-xs-12" [class.col-sm-6]="showAdditionalPane">
    <img src="/assets/img/calendar-tmp.png" class="img-fluid" style="width: 100%" alt="Mock kalendarza">
  </div>
  <div [class.hidden-xs-up]="!showAdditionalPane" class="col-xs-12 col-sm-6">
    <router-outlet></router-outlet>
  </div>
</div>
