<labelled-form-field [errors]="errors.classesCount" [for]="classesCount" [label]="'Liczba zajęć'">
  <input type="number" class="form-control form-control-sm" [class.form-control-danger]="errors.classesCount"
         [(ngModel)]="model.classesCount" name="classesCount" id="classesCount" required
         placeholder="Podaj liczbę zajęć ...">
</labelled-form-field>
<labelled-form-field [errors]="errors.seatsCount" [for]="seatsCount" [label]="'Liczba miejsc'">
  <input type="number" class="form-control form-control-sm" [class.form-control-danger]="errors.seatsCount"
         [(ngModel)]="model.seatsCount" name="seatsCount" id="seatsCount" required
         placeholder="Podaj liczbę miejsc ...">
</labelled-form-field>
<labelled-form-field [errors]="errors.price" [for]="price" [label]="'Cena'">
  <input type="number" class="form-control form-control-sm" [class.form-control-danger]="errors.price"
         [(ngModel)]="model.price" name="price" id="price" required placeholder="Podaj cenę ...">
</labelled-form-field>
<labelled-form-field [errors]="errors.description" [for]="description" [label]="'Opis'">
  <textarea type="textarea" rows="4" class="form-control form-control-sm"
            [class.form-control-danger]="errors.description"
            [(ngModel)]="model.description" name="description" id="description"
            placeholder="Dodaj opis kursu ..."></textarea>
</labelled-form-field>
