:host {
  display: block;
  position: relative;
  height: 100%;

  .attendees {
    padding: .5rem .25rem;
  }

  /deep/ .payment-confirmation .modal-dialog {
    max-width: 26rem;
  }
}

i {
  font-size: 2rem;
  cursor: help;
}

.btn {
  padding: 0.3rem 0.62rem 0.35rem 0.72rem;

  &.cancel {
    margin-right: 1rem;
  }
}