<manager-course-attendees-title [isEditing]="false" *ngIf="!isCreateFormVisible"></manager-course-attendees-title>
<create-attendee (onSave)="onAttendeeSaved($event)" [courseId]="course.id" *ngIf="isCreateFormVisible && course">
  <manager-course-attendees-title [isEditing]="true" (onCancel)="hideCreateForm()"></manager-course-attendees-title>
</create-attendee>
<div class="attendees" *ngIf="course">
  <attendee-row *ngFor="let attendee of attendees" [attendee]="attendee"></attendee-row>
</div>
<add-item-button (onClick)="showCreateForm()" *ngIf="!isCreateFormVisible"></add-item-button>
